.table {
  width: 70%;
  font-size: 20px;
  /* font-weight: 500; */
  border-collapse: collapse;
  margin: 0 auto 50px;
}

.table th,
.table td {
  border: 2px solid rgb(21, 21, 21);
  padding: 8px;
  text-align: center;
}

.head {
  background-color: rgba(18, 17, 17, 0.89);
  color: white;
}

.table tr:nth-child(even) {
  background-color: rgba(90, 88, 88, 0.495);
}
